.Toobar {
  height: 200px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(2, 2, 32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 0 2px 6px rgba(0,0,0,.7);
}

.Toobar nav {
  height: 100%;
}

.Title {
  padding: 20px;
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-size: 1.4rem;
}

.Logo {
  padding-top: 40px;
  height: 100%;
}

@media (max-width: 499px) {
  .Toobar {
    height: 50px;
    padding: 0 20px;
  }

  .DesktopOnly {
    display: none;
  }

  .Logo {
    display: none;
  }

  .Title {
    padding: 0;
    font-size: .5rem;
  }
}