.FullProject {
  width: 100%;
  margin: 15px;
  display: inline-block;
  border: 1px solid #929292;
  box-shadow: 3px 3px 8px #c2c2c2;
  padding: 5px;
  border-radius: 5px;
}

.FullProject img {
  width: 100%;
}

@media (max-width: 500px) {
  .FullProject {
    width: 90%;
    margin: 10px;
    display: block;
    border: 1px solid #929292;
    box-shadow: 3px 3px 8px #c2c2c2;
    padding: 5px;
    border-radius: 5px;
  }

  .FullProject h1{
    text-align: center;
  }

  .FullProject p{
    padding: 5px;
    text-align: center;
  }
}
