.Projects {
  width: 80%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 500px) {
  .Projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
}